/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/josefin-sans-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/josefin-sans-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  /* Colour variables */
  font-family: 'Josefin Sans';
}

body {
  margin: 0;
  padding: 0;
}

.search-button .material-symbols-outlined,svg {
  filter: brightness(0) invert(1);
}

.background {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 2fr;
  color: white;
}

.weather-box {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  padding: calc(12px + 1.8625vw);
}

.weather-temp, .weather-wind {
  display: flex;
  align-items: center;
  padding-top: 20px;
  font-size: 2em;
}

.weather-temp > span, .weather-wind > span {
  padding-right: 10px;
}
.weather-city, .atmosphere-cloud {
  font-size: 2em;
}

.search-box {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  background-color: rgba(0,0,0,0);
  color: white
}

input:focus {
  outline: 0;
}

::placeholder {
  color: white;
  opacity: 1;
}

button {
  border: 0;
  outline: 0;
  background-color: rgba(0,0,0,0);
}

.temperature-change-container {
  position:relative;
}

.temperature-change-container > div:hover {
  cursor: pointer;
}

.temperature-change-c, .temperature-change-f {
  padding-top: 5px;
  font-size: 0.75em;
  position: absolute;
  top: 0;
  left: 0;
}

.error-display {
  color: white;
  padding-top: 5px;
}

.atmosphere-box {
  grid-area: 1 / 3 / 4 / 4;
  display: flex;
  flex-direction: column;
  padding: calc(0px + 1.8625vw) calc(12px + 1.8625vw);
  align-items: flex-end;
}

.atmosphere-humidity {
  display: flex;
  align-items: center;
  padding-top: 20px;
  font-size: 2em;
}

.atmosphere-humidity > span {
  padding-left: 10px;
}

.forecast-box {
  grid-area: 4 / 1 / 6 / 4;
  display: flex;
  justify-content: space-evenly;
  padding: calc(12px + 1.8625vw);  
}

.forecast-box > div {
  height: 100px;
  width: 100px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:1000px) {
  #forecast-10 {
    display:none;
  }
}

@media screen and (max-width:900px) {
  #forecast-9 {
    display:none;
  }
}

@media screen and (max-width:800px) {
  #forecast-8 {
    display:none;
  }
}

@media screen and (max-width:700px) {
  #forecast-7 {
    display:none;
  }
}

@media screen and (max-width:600px) {
  #forecast-6 {
    display:none;
  }
}

@media screen and (max-width:500px) {
  #forecast-5 {
    display:none;
  }
}

@media screen and (max-width:400px) {
  #forecast-4, .atmosphere-box {
    display:none;
  }
}

.forecast-box .material-symbols-outlined {
  font-size: 60px;
}

.weather-temp .material-symbols-outlined, .weather-wind .material-symbols-outlined {
  font-size: 40px;
}

.atmosphere-icon .material-symbols-outlined {
  font-size: 75px;
}

.atmosphere-humidity .material-symbols-outlined {
  font-size: 30px;
}

.not-visible {
  visibility: hidden;
}

/* Footer */